Source: lliurex-autorun
Section: misc
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: cdbs, debhelper (>= 10)
Standards-Version: 4.1.2

Package: lliurex-autorun
Depends: wine, libconfig-inifiles-perl
Architecture: all
Description: Enable autorun files from media devices
 Lliurex autorun launch autorun files.
